<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="../Styles/shared_styles.css">
    <link rel="stylesheet" href="../Styles/about-us.css">
</head>
<body>
    <nav>
        <a href="./home.html">Home</a>
        <a href="../index.html">Origin</a>
        <a href="./contact-us.html">Contact us</a>
    </nav>
    <h1>About us</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia atque beatae repellendus? Sunt, natus recusandae aliquam ea nam iusto unde adipisci reprehenderit aperiam, rem ut totam minima quo mollitia similique.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias dolore aperiam nihil, quibusdam magnam vero eveniet reiciendis ex aspernatur recusandae non harum, porro soluta expedita illo voluptates sit odio consequatur?</p>
</body>
</html>