<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Styles/shared_styles.css">
    <link rel="stylesheet" href="../Styles/home.css">
    <!----------Google Fonts-------->
    <link href="https://fonts.googleapis.com/css2?family=Splash&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <nav>
        <a href="../index.html">Origin</a>
        <a href="./about-us.html">About us</a>
        <a href="contact-us.html">Contact us</a>
    </nav>

    <i class="material-symbols-outlined">home</i>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat eligendi debitis corrupti suscipit est aut doloribus minima eos fugit, amet praesentium sequi, quibusdam, expedita ut quae quod inventore obcaecati. Incidunt!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nulla aperiam in? Perferendis natus doloremque magni cum eius, aliquam esse vel fuga quae, nulla corporis tempore, delectus eveniet itaque sapiente.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, maiores, sed quae fugit sapiente suscipit fugiat totam dolores quibusdam, perspiciatis aperiam distinctio ipsam amet cupiditate nemo odit! Neque, ad tempore.</p>
</body>
</html>